.footer {
    margin: 0 auto;
    margin-top: 10x;
    padding: 30px 0; 
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  .footer__middle {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 40px 5px;
  }
  
  .footer__middle__row {
    display: flex;
    align-items: start;
    flex-basis: 1000px;
  }
  
  .footer__middle__col {
    padding: 0 10px;
    flex: 1;
  }
  
  /* .footer__middle__col > p {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap;
  } */
  
  .footer__middle__col > ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__middle__col > ul > li {
    margin: 0 0 10px;
    list-style-type: none;
    white-space: nowrap;
  }
  
  .footer__middle__col > ul > li > a {
    font-size: 13px;
    cursor: pointer;
    color: grey;
    text-decoration: none;
  }
  .footer__middle__col > ul > li:hover a {
    text-decoration: underline;
    text-decoration-color: white;
  }